.button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  background-image: var(--accent-color);
  border: none;
  border-radius: 0.25rem;
}

.button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.button:disabled {
  filter: saturate(40%);
  cursor: default;
}
