.swapCard {
  background-color: var(--secondary-background-color);
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;
}

.formGroup {
  display: flex;
}

.formControl {
  border: none;
  background-color: transparent;
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem 0 0 1.25rem;
  border: 1px solid var(--tertiary-background-color);
}

.formControl:disabled {
  background-color: hsl(240, 6%, 19%);
  border: 1px solid hsl(240, 6%, 19%);
}

.tokenContainer {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--tertiary-background-color);
  border-radius: 0 1.25rem 1.25rem 0;
}

.tokenIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.tokenSymbol {
  font-size: 0.75rem;
  line-height: 1.5;
}

.balance {
  font-size: 0.75rem;
  margin-left: calc(1rem + 1px);
  margin-top: 0.25rem;
}
